<div>

  <div class="left-container">
    <div class="profile-container">
      <div class="profile-top"></div>
      <div class="med-icon-container"><%= image_tag current_user.image.url %>
      </div>
      <div class="profile-bottom"></div>
    </div>
    <div class="trends-container">
      Trends
      <% @hashtags.each do |tag| %>
        <div class="indv-trend-container">
          <%= tag.name %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="tweet-container-outer">
    <div class="whats_happening">
      <div class="whats_happ_inner"><%= link_to "What's happening?", new_tweet_path, class: "new_tweet" %>
      </div>
    </div>
    <% @tweets.each do |tweet| %>
      <div class="indv_tweet_container">
        <div class="icon-container">
          <%= image_tag(tweet.creator.image.url) %>
        </div>
        <a class="tweet"><%= tweet.content %></a>
        </div>
        <% end %>

  </div>

  <div class="follow-container">
    Who to Follow
  </div>

</div>

