<div>

<% if logged_in? %>
  <div class="left-container">
    <div class="profile-container">
      <div class="profile-top"></div>
      <div class="med-icon-container">
        <%= image_tag current_user.image.url %>
      </div>
      <div class="profile-bottom"></div>
    </div>
    <div class="trends-container">
      <header>Trends</header>
      <% @hashtags.each do |tag| %>
        <div class="indv-trend-container">
          <%= tag.name %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="tweet-container-outer">
    <div class="whats_happening">
      <div class="whats_happ_inner"><%= link_to "What's happening?", new_tweet_path, class: "new_tweet" %>
      </div>
    </div>
    <% @tweets.each do |tweet| %>
      <div class="indv_tweet_container">
        <div class="icon-container">
          <%= image_tag(tweet.creator.image.url) %>
        </div>
        <a class="tweet"><%= tweet.content %></a>
        </div>
        <% end %>
  </div>

<div class="follow-container">
    <header>Who to Follow</header>
    <div>
      <% @users.each do |user| %>
        <% unless user == current_user %>
        <div class="indv-user-container">
          <div class="user_details">@<%= user.username %></div>
          <div class="icon-container">
            <%= image_tag(user.image.url) %>
          </div>
            <%= form_for(@following) do |f| %>
              <div class="field">
                <%= hidden_field_tag(:follower_id, current_user.id) %>
              </div>
              <div class="field">
                <%= hidden_field_tag(:followed_id, user.id) %>
              </div>
              <div class="field">
                <%= f.submit "Follow" %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
  </div>
<% else %>
  <div class="spacer"></div>
  <div>Need an account? <%= link_to "Sign up", new_user_path %></div>
<% end %>

</div>

